* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 2rem;
}

p {
  font-size: 2.5rem;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #2c2c2c;
  font-size: 2.5rem;
}

.main-head {
  width: 95%;
  margin: 0 0 0 auto;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  min-height: 10vh;
  width: 50%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

nav .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 10rem;
          flex: 1 1 10rem;
}

nav .logo h1 {
  margin: 2rem;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

nav li {
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.intro {
  height: 90vh;
  width: 90%;
  margin: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.intro h2 {
  font-size: 6rem;
  background: -webkit-gradient(linear, left top, right top, from(#3e8b71), to(#38a4d3));
  background: linear-gradient(left, #3e8b71, #38a4d3);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  display: inline-block;
}

.intro p {
  color: #2c2c2c;
  margin-top: 1rem;
  max-width: 50vw;
}

.intro h3 {
  font-size: calc($special-size - 0.5rem);
  margin-bottom: 4.5rem;
}

.intro .intro-social img {
  height: 10vh;
  margin-top: 8rem;
  float: left;
}

.intro .splash {
  position: absolute;
  top: 0%;
  right: 0%;
  height: 100%;
  z-index: -1;
}

.intro .me {
  width: 50vw;
  max-height: 89vh;
}

.active-button {
  background: #2c2c2c;
  color: white;
  padding: 1rem 3rem;
  border-radius: 5rem;
}

.intro-text,
.intro-images {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40 rem;
          flex: 1 1 40 rem;
}

#arm-front {
  animation: front-arm 1s ease-in-out alternate-reverse infinite;
  -webkit-transform-origin: left;
          transform-origin: left;
}

#arm-back {
  -webkit-animation: back-arm 1s ease-in-out alternate infinite;
          animation: back-arm 1s ease-in-out alternate infinite;
  transform-box: fill-box;
  -webkit-transform-origin: left top;
          transform-origin: left top;
}

#head {
  -webkit-transform-origin: left bottom;
          transform-origin: left bottom;
  -webkit-transform: fill-box;
          transform: fill-box;
  animation: head 1s ease-in-out alternate-reverse infinite;
}

@-webkit-keyframes front-arm {
  from {
    -webkit-transform: rotateZ(-5deg) translateX(-2%);
            transform: rotateZ(-5deg) translateX(-2%);
  }
  to {
    -webkit-transform: rotateZ(0deg) translateX(0%);
            transform: rotateZ(0deg) translateX(0%);
  }
}

@keyframes front-arm {
  from {
    -webkit-transform: rotateZ(-5deg) translateX(-2%);
            transform: rotateZ(-5deg) translateX(-2%);
  }
  to {
    -webkit-transform: rotateZ(0deg) translateX(0%);
            transform: rotateZ(0deg) translateX(0%);
  }
}

@-webkit-keyframes back-arm {
  from {
    -webkit-transform: rotateZ(-7deg) translateX(-1.5%);
            transform: rotateZ(-7deg) translateX(-1.5%);
  }
  to {
    -webkit-transform: rotateZ(0deg) translateX(0%);
            transform: rotateZ(0deg) translateX(0%);
  }
}

@keyframes back-arm {
  from {
    -webkit-transform: rotateZ(-7deg) translateX(-1.5%);
            transform: rotateZ(-7deg) translateX(-1.5%);
  }
  to {
    -webkit-transform: rotateZ(0deg) translateX(0%);
            transform: rotateZ(0deg) translateX(0%);
  }
}

@-webkit-keyframes head {
  from {
    -webkit-transform: rotateZ(-2deg) translateX(1%);
            transform: rotateZ(-2deg) translateX(1%);
  }
  to {
    -webkit-transform: rotateZ(0deg) translate(0%);
            transform: rotateZ(0deg) translate(0%);
  }
}

@keyframes head {
  from {
    -webkit-transform: rotateZ(-2deg) translateX(1%);
            transform: rotateZ(-2deg) translateX(1%);
  }
  to {
    -webkit-transform: rotateZ(0deg) translate(0%);
            transform: rotateZ(0deg) translate(0%);
  }
}

@media screen and (max-width: 1530px) {
  .splash {
    display: none;
  }
  svg {
    width: 80%;
  }
  nav {
    width: 100%;
  }
  .main-head {
    width: 100vw;
    -webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  }
  .logo {
    margin-left: 5vw;
  }
}

@media screen and (max-width: 1530px) {
  html {
    font-size: 52%;
  }
}

@media screen and (max-width: 1236px) {
  h2 {
    margin-top: 5vh;
  }
  .intro-text {
    text-align: center;
    height: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .me {
    height: 30vh;
    min-width: 90vw;
  }
}

@media screen and (max-width: 768px) {
  html {
    text-align: center;
    font-size: 35%;
  }
  .intro-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .logo {
    max-width: 30vw;
  }
  .intro-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .intro-text p {
    max-width: 100vw;
  }
}
/*# sourceMappingURL=style.css.map */